<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <link rel="stylesheet" href="login.css">
</head>
<body>
    <div>
        <header class="header">
            <nav class="nav1">
                <ul class="nav-lists">
                    <li class="lists"><a href="/">Home</a></li>
                    <li class="lists"><a href="/contact">Contact</a></li>
                    <li class="lists"><a href="/login">Login</a></li>
                </ul>
            </nav>
        </header>
     </div>
    <div class="form">
        <form action="/login/auth" method="post">
            <fieldset>
                <legend>Login</legend>
                <label for="username" class="form-label">Username : </label>
                <input type="text" id="username" name="username">
                <button type="submit" >Login</button>
            </fieldset>
        </form>
    </div>
</body>
</html>